body {
    font-family: 'SF Pro Display', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

h2 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 3em;
    margin: 20px 0;
    text-align: start;
}

header {
    background: url('../img/batman_background.jpg') no-repeat center center/cover;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    font-family: 'Bebas Neue', sans-serif;
    margin: 0;
    font-size: 5em;
    letter-spacing: .3em;
}

header p {
    font-size: 2.2em;
    margin: 10px 0;
    text-transform: uppercase;
    letter-spacing: .1em;
    margin-bottom: 40px;
}

header nav ul {
    list-style: none;
    padding: 0;
    margin-bottom: 60px;
}

header nav li {
    display: inline;
    margin-right: 20px;
    background: #fff;
    padding: 10px 15px;
    text-transform: uppercase;
    border-radius: 5px;
}

header a {
    color: #333;
    font-weight: 600;
    text-decoration: none;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 20px;
}

.section-restaurant,
.section-contact {
    padding: 0;
    background: #e6e6e6;
}

.section-restaurant h2,
article {
    text-align: start;
    padding: 0 0 0 50px;
}

.text-title {
    padding: 0 0 0 50px;
    font-size: 1.2em;
    line-height: 1.5;
}

figure {
    margin: 0 0 0 50px;
    text-align: center;
}

figure .img-restaurant {
    width: 100%;
    max-width: 1300px;
    position: relative;
}

figcaption {
    width: 100%;
    max-width: 1300px;
    background-color: #333;
    color: #98b85d;
    font-size: 1.4em;
    font-weight: 600;
    margin-top: -10px;

}

article h3 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2.2em;
    margin-bottom: 20px;
}

article p {
    font-size: 1.2em;
    line-height: 1.5;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    background: #333;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    border-radius: 5px;
}

.btn-send {
    color: #cdcd11;
    text-transform: uppercase;
}

.cat-woman {
    width: 100%;
    height: 250px;
    background: url('../img/catwoman_background.jpg') no-repeat center center/cover;
    text-align: center;
    line-height: 1 !important;
}

.cat-woman h2 {
    font-family: 'Bebas Neue', sans-serif;
    color: #fff;
    font-size: 4em;
    text-align: center;
}

.cat-woman p {
    font-size: 1.5em;
    color: #fff;
}

.section-rates {
    display: grid;
    grid-template-rows: auto auto;
    background: #c6c610;
}

.section-rates h2 {
    color: #333;
    margin-left: 20px;
    text-align: center;
}

.section-rates ul {
    list-style: circle;
    padding: 0;
    margin: 0;
}

.container .text-title {
    font-size: 1.5em;
    margin: 10px 0;
    text-align: start;
    font-weight: bold;
    margin-bottom: 50px;
}

.text-title-rates {
    text-align: center !important;
}

.rates {
    box-sizing: border-box;
    width: 600px;
    margin-left: 75px;
    padding: 5px 50px;
    border-radius: 15px;
    margin-bottom: 30px;
}

.basic {
    background-color: #fff;
    color: #333;
}

.deluxe {
    background-color: #333;
    color: #fff;
}

.rates h3 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2em;
    margin-bottom: 20px;
}

.rates p {
    font-size: 1.2em;
    line-height: 1.5;
    margin-bottom: 20px;
}

.rates ul {
    list-style: disc;
    padding: 0 0 10px 30px;
    margin: 0;
}

.google-map {
    width: 100%;
    margin: 0 auto;
    height: 400px;
    border: 0;
}

.contact-info {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 20px;
}

.contact-info span {
    display: block;
    color: #333;
    padding: 10px 0;
}

.icon-contact {
    width: 18px;
    height: 18px;
    display: inline-block;
    padding: 0 5px;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px 20px;
}

.icon {
    width: 35px;
    height: 35px;
    display: inline-block;
    margin: 10px;
    fill: #f1f3ec;
}

@media (max-width: 768px) {
    header h1 {
        font-size: 3em;
    }

    header p {
        font-size: 1.5em;
    }

    header nav li {
        margin-right: 10px;
        padding: 5px 10px;
    }

    .container {
        padding: 10px;
    }

    .section-restaurant,
    .section-contact {
        padding: 20px;
    }

    .rates {
        width: 100%;
        margin-left: 0;
        padding: 20px;
    }
}