
body {
    font-family: 'SF Pro Display', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

h2  {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 3em;
    margin: 20px 0;
    text-align: start;
}

header {
    background: url('../img/batman_background.jpg') no-repeat center center/cover;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    font-family: 'Bebas Neue', sans-serif;
    margin: 0;
    font-size: 5em;
    letter-spacing: .5em;
}

header p {
    font-size: 2.2em;
    margin: 10px 0;
    text-transform: uppercase;
    letter-spacing: .1em;
    margin-bottom: 40px;
}

header nav ul {
    list-style: none;
    padding: 0;
    margin-bottom: 60px;
}

header nav li {
    display: inline;
    margin-right: 20px;
    background: #fff;
    padding: 10px 15px;
    text-transform: uppercase;
    border-radius: 5px;
}

header a {
    color: #333;
    font-weight: 600;
    text-decoration: none;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 20px;
    align-items: center;
}

.section-1 {
    padding: 0;
    background: rgb(167 152 171 / 71%);
}


footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px 20px;
}

.icon {
    width: 35px;
    height: 35px;
    display: inline-block;
    margin: 10px;
}